name: validate
on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: opentofu/setup-opentofu@v1

      - name: pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('ci/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: pre-commit cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pre-commit-

      - name: ~/bin cache
        uses: actions/cache@v4
        with:
          path: ~/bin
          key: ${{ runner.os }}-homebin-${{ hashFiles('ci/versions.sh') }}
          restore-keys: |
            ${{ runner.os }}-homebin-

      - name: Install pre-commit
        run: python3 -m pip install --disable-pip-version-check -r ci/requirements.txt

      - name: Install terraform-docs
        run: ci/install-binary.sh terraform-docs

      - name: Install tflint
        run: ci/install-binary.sh tflint

      - name: Run pre-commit tests
        run: PATH="~/bin:$PATH" pre-commit run --all-files
